.close {
  outline: none;
  padding: 6px;
  color: white;
}

.header-alignment{
  vertical-align: middle;
  line-height: 3;
}
.hcolor{
  color: #007bff;
}
.clr_footer{
  background-color: #FFFFFF;
  border-top: dotted 1px;
}
