td {
  padding-right: 1em;

}
.form-group{
  margin-bottom: 0;
}
.lower-end{
  border-color: #D1D4D5 ;
  background-color: rgb(235, 235, 228);
  color: #747474;
  width: 60px;
  padding: 5px 10px;
}
.label{
  margin-top: 0px;
}
.productivity-range{
  margin-top:-5%;
}
.disable-div{
  color: #6f7479;
}
input {
  border: none;
}

input:hover {
  border:none !important;
}

