<style> html {
  display: none;
} </style>
<script>
  if (top !== self) {
    document.documentElement.style.display = 'none';
  } // Attempt to escape frame
  else {
    document.documentElement.style.display = 'block';
  } // If not in frame, make html visible
</script>
<footer class="footer">
  <span class="footer-info">© Copyright 2019 Premier, Inc.</span>
  <span class="footer-info"> | </span>
  <span class="footer-info"><a target="_blank" href="https://sso.premierinc.com/views/terms" rel="noopener">Terms and Conditions</a></span>
  <span class="footer-info"> | </span>
  <span class="footer-info">Need Help?</span>
  <span class="footer-info">800.805.4608</span>
</footer>
