.staffing-matrix-container{
  padding: 2px 0;
  display: flex;
  margin: 10px auto auto !important;
  .table.table-responsive{
    position: relative;
    overflow: auto;
    & > th:first-child{
      position: sticky;
      position: -webkit-sticky;
      left: 0;
      z-index: 99;
      background-color: #fff;
    }
    & > tr > td:first-child{
      position: sticky;
      position: -webkit-sticky;
      left: 0;
      z-index: 99;
      background-color: #fff;
    }
  }
  .flex-inline{
    display: inline-flex;
  }
  .left-width{
    padding-left: 13px !important;
  }
  .align-center{
    margin-top: 8px;
  }
  .left-pad{
    padding-left: 6px;
  }

  .header-height{
    height: 17px;
  }
  .header-width
  {
     width: 310px;
  }
  .centre-align{
    margin-bottom: 2px;
  }
  .row-height{
    margin-bottom: 4px;
    height: 25px;
    text-align-last: center;
    align-content: center;
  }
  .total-hours{
    margin-top: 1px;
    margin-bottom: 9px;
    height: 54px;;
    align-content: center;

  }
  .margin-bottom{
    margin-bottom: 18px;
  }
  .small1{
    color:#888888
  }
  .highlight-red
  {
    color: red;
    font-style:italic;
  }
  .highlight-green{
    color: green;
  }
  .table-top{
    border-top: solid 5px #005C72;
  }
  .header-style{
    background-color: #003b49;
    color: whitesmoke;
    font-size: 12px ;
    width: 100%;
    margin-left: 0px;
    align-content: flex-end;
  }
  .mat-card {
    clear: both;
    //padding: 0 16px;
    border-radius: 0;
    border-top: 6px solid #005C72;
    //padding: 13px 18px 13px 18px;
    margin-bottom: 35px;
    height:100%

  }
  .table td, .table th{
    padding: 2px !important;
    text-align: center;
    vertical-align: middle;
  }
  .col{
    position: relative;
    width: 310px;
    min-height: 1px;
    margin-top:2px;
    //padding-right: 10px;
    //padding-left: 20px;
    //word-wrap: break-word;
    //border-right:1px solid #7f7f7f;
  }
  .actual-text-box{
    width: 43px !important;
    height: 21px !important;
    /* padding: 8px !important;*/
    border: 1px solid black;
    border-color: #003b49;
    text-align: center;
  }
  .vert-align{
    height: 40px;
    vertical-align: middle;
  }
  .gray-bg
  {
    background-color: lightgrey !important;
  }
  .width-set{
    width: 13%;
  }
  .width-actual{
    width: 325px;
  }
  .oga-text-box{
    width: 45px;
    height: 21px;
    border: 1px solid black;
    margin-right: 76%;
    border-color: #003b49;
  }
  .empty-cell{
    height: 40px;
    //table-bordered:none;
  }
  .text-box{
    border: 1px solid black !important;
    border-color: #003b49 !important;
  }
  .table-color{
    background-color: white;
  }
  .inherit-feather{
    display: inherit;
  }
  .pd-left{
    text-align: left;
  }
  .total-hour-col-0 {
    width: 85px;
    padding-left:10px;
  }
  .total-hour-col-1 {
    width: 88px;
    padding-right: 12px !important;
  }
  .total-hour-daily{
    padding-left: 10px;
  }
  .total-hour-val-0{
    width:50px;
  }
  .total-hour-feather-icon{
    width:80px;
  }
  .total-hour-feather-align{
    margin-left: 16px;
  }
  .total-hour-daily-align{
    margin-left: 6px;
  }

  .textarea{
    resize: vertical;
    overflow: hidden;
    height:auto;
    border: 1px solid black;
    border-color: #003b49;
  }

  .padding-top{
    padding-top: 8%;
  }

  textarea::-webkit-input-placeholder {
    font-size: 10px;
    color: lightgrey;
  }

  textarea::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
    color: lightgrey;
  }
  textarea:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
    color: lightgrey;
  }

  .max-width{
    max-width: 50px;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    font-size: 10px;
    color: lightgrey;
  }

  .autodiv{
    min-height:auto;
    max-width:auto;
    border: 1px solid black;
    border-color: #003b49;
    display: block;
    white-space: pre-wrap;
  }
  .autodiv1{
    min-height:23px;
    max-width:auto;
    border: 1px solid black;
    border-color: #003b49;
    display: block;
    white-space: pre-wrap;
  }

  .vertical-align{
    vertical-align:top !important;
  }


  @media all and (max-width: 1720px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .row{
      width: 250px !important;
    }
    .total-hour-col-0{
      width: 86px;
    }
    .total-hour-col-1{
      width: 68px;
    }
    .total-hour-feather-icon{
      width: 74px;
    }
    .mar-right{
      margin-right: 0 !important;
    }

  }


}

.left-fix{
  width:100%;
  float:left;
  padding-left: 0 !important;
}
.width-fit{
  width: 63%;
  text-align: left;
  word-break: break-all;
}
.right-fix{
  width:25%;
  float:right;
  padding-right: 5% !important;
}
.width-data{
  width:70%;
  padding-left: 16px !important;
  text-align: center;
}

.width-data-m{
  width:70%;
  padding-left: 16px !important;
  text-align: center;
}
.comments{
  padding-left: 25%;
}

.comments-icon{
  padding-right: 20%;
}

.comment-height{
  height:20px !important;
}


.input-cancel{
  border-right: none !important;
  border-radius: 0px;
}

.actual-text-box-m{
  width: 33px !important;
  height: 20px !important;
  padding-left: 10px !important;
  /* padding: 8px !important;*/
  border: 1px solid black;
  border-color: #003b49;
  margin-bottom:1px;
}
input {
  -webkit-appearance: searchfield;
  padding: 0px !important;
}
.black{
  background-color: silver;
}
*::-ms-clear{
  -webkit-appearance: searchfield-cancel-button;
  display: block;
}

*::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.pad-right{
  padding-right: 8px !important;
}
.pd-right{
  padding-right: 0px !important;
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .comments-icon{
    padding-right: 15px;
  }

  .button-cancel-margin{
    margin-bottom:3px;
  }
  .table-responsive{
    -ms-overflow-style: auto !important; ;
  }
  input{
    line-height: 0px!important;
    text-align: center;
  }
  .autodiv{
    white-space:pre-wrap !important;
  }



}
*:not(input) {
  -ms-user-select: none;
}
@media screen and (min-width: 900px) and (max-width: 1799px){
  .scorecard-right-body{
    margin-top: -5% !important;
  }
}
@media screen and (min-width: 1800px){
  .scorecard-right-body{
    margin-top: 0% !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1499px){
  .scorecard-body-right{
    margin-top: -5% !important;
  }
}
@media screen and (min-width: 1500px){
  .scorecard-body-right{
    margin-top: 0% !important;
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media screen and (min-width: 900px) and (max-width: 1749px){
    .scorecard-right-body {
      margin-top: -5% !important;
    }
  }
  @media screen and (min-width: 1750px){
    .scorecard-right-body {
      margin-top: 0% !important;
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1501px){
    .scorecard-body-right {
      margin-top: -5% !important;
    }
  }
  @media screen and (min-width: 1502px) {
    .scorecard-body-right {
      margin-top: 0% !important;
    }
  }
}


.census-input {
  display: flex;
  flex-direction: row;
  input {
    flex-grow: 2;
    border: none;
  }
  input:focus, input:hover{
    border: none !important;
  }

  button {
    border: none;
    background: white;
    color: black;
    height: 20px;
    width: 15px !important;
    padding: 0px !important;
    border-left: white 1px solid !important;
    border-radius: 0px !important;
    line-height: 0 !important;
    font-size: small !important;
  }
  button:focus{
    outline: none;
  }
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.mr-bot{
  margin-bottom: 4px;
}
.mar-lft{
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.f-size{
  font-size: 15px !important;
  padding-right: 6px;
}
.round {
  display: inline-block;
  height: 11px;
  width: 10px;
  line-height: 15px;
  -moz-border-radius: 15px;
  border-radius: 18px;
  border-color: #4183c4;
  background-color: #f8f8ff;
  color: #1e90ff;
  text-align: center;
}

.round.round-sm {
  height: 11px;
  width: 10px;
  line-height: 13px;
  -moz-border-radius: 15px;
  border-radius: 18px;
  border-color: #4183c4;
  font-size: 8px;
  font-family: "Bookman Old Style";
  -webkit-box-shadow: 0px 0px 0px 1px #3EA6CE;
  -moz-box-shadow: 0px 0px 0px 1px #3EA6CE;
  box-shadow: 0px 0px 0px 1px #3EA6CE;
  margin-right: 11px;
}
.m-right{
  margin-right: 12px;
}
.m-top{
  margin-top: 1px !important;

}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .m-top {
    margin-right: 5px !important;
  }
  .m-topBox{
    margin-top: 2px !important;
  }
}
.total-hours-Feature{
  margin-bottom: 8px;
  height: 25px;;
  align-content: center;

}
.margin-bottom-Feature{
  margin-bottom: 3px;
}
@media (min-width: 768px) and (max-width: 1023px){
  .view-header, .card-container, .view-body, .staffing-matrix-container{
    width: 100% !important;
    //padding: 20px 10px !important;
  }
  .w-25, .w-75, .w-70, .w-60, .w-40, .w-30{
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 10px;
  }
  .card-header{
    padding: 0 !important;
  }
  ::ng-deep{
    .mat-tab-labels{
      display: block !important;
    }
  }
}
@media (min-width: 1024px) {
  .view-header, .card-container, .view-body, .staffing-matrix-container{
    // width: 992px !important;
    // padding: 20px 5px !important;
  }

  .container-fluid, .card-header{
    padding: 0 !important;
  }
  .mat-form-field-infix{
    width: 170px !important;
  }

}
@media (min-width: 1199px) {
  .view-header, .card-container, .view-body, .staffing-matrix-container{
    // width: 1184px !important;
    // padding: 20px 5px !important;
  }
  .container-fluid, .card-header{
    padding: 0 !important;
  }
}
@media (min-width: 1300px) {
  .view-header, .card-container, .view-body, .staffing-matrix-container{
    // width: 1285px !important;
    // padding: 20px 0 !important;
  }
  .container-fluid .card-header{
    padding: 0 !important;
  }
}
@media (min-width : 1500px){
  .view-header, .card-container, .staffing-matrix-container{
    //width: 1400px !important;
  }
  .container-fluid, .card-header{
    padding: 0 !important;
  }
}
@media (min-width : 1768px){
  .view-header, .card-container, .staffing-matrix-container{
    //width: 1550px !important;
  }
}
.oga-hours{
  text-align: center;
}
